/* CSS for UcDockerXBlock */
.uc_xblock
{
    width: 700px;
    border: solid 1px #ccc;
}

.setting-textarea
{
    width: 100%;
}

.uc_table
{
    border: solid 1px #ccc;
}

.uc_table tbody tr
{
    border: solid 1px #999;
}

.uc_table tbody tr td
{
    border: solid 1px #666;
}

.uc_table thead tr
{
    border: solid 1px #999;
    text-align: center;
}

.uc_table thead tr th
{
    background-color: #eee;
    border: solid 1px #666;
    width: 200px;
    text-align: center;
}

div.uc_panel
{
    padding: 5px;
    border: solid 1px #777;
}

div.uc_panel_header
{
    background-color: Blue;
    color: White;
    font-size: 14pt;
    font-weight: bold;
}

div.uc_panel_content
{
}
